* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    min-height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    font-size: clamp(1rem, 10vw, 1.7rem);
}

.calculator {
    width: 70vw;
    max-height: 80vh;
    background-color: green;
    border-radius: 40px;
    border: 10px black solid;
    padding-bottom: 10px;
}

.top {
    min-width: 60vw;
    height: 1rem;
    padding: 5vh;
    background-color: rgb(75, 75, 75);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.top p {
    padding-right: 0;
    font-size: clamp(3rem, 10vw, 5rem);
    font-weight: 400;
    color: rgb(0, 17, 255);
}


.circles {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.firstrow {
    display: flex;
    gap: 8px;
}

.firstrow .circle {
    width: 10vw;
    height: 10vh;
    border-radius: 50%;
    background-color: rgb(0, 17, 255);

}

.lastrow {
    display: flex;
    gap: 8px;
    align-self: center;
    margin-right: 16px;
}

.lastrow .circle {
    width: 10vw;
    height: 10vh;
    border-radius: 100%;
    background-color: rgb(0, 17, 255);
}

.long {
    width: 20vw;
    height: 10vh;
    border-radius: 30px;
    background-color: rgb(0, 17, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle button {
    background-color: rgba(128, 128, 128, 0);
    border: 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
}

.long button {
    background-color: rgba(128, 128, 128, 0);
    border: 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    width: 20vw;
    height: 10vh;
    border-radius: 30px;
}


.circle:hover,
.long:hover {
    background-color: rgb(0, 8, 116);
}

.input {
    padding-right: 0;
}